body {
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  background-color: black;
  color: white;
}
header {
  font-size: 2rem;
  font-weight: 800;
  padding: 16px;
}

input:invalid {
  border-color: red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: fit-content;
  width: 50%;
}

fieldset {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.heading {
  align-self: center;
}

input,
select {
  font-size: large;
  width: 100%;
}

.error {
  background-color: red;
  border: 2px solid red;
  width: 100%;
  font-size: large;
  padding: 4px 2px;
  display: none;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  width: 100%;
}
